body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(214, 227, 255, 0.8);
    padding: 50px;
    text-align: center;
    width: 75dvw;
}

.question {
    font-size: 16px;
    color: #4668c5;
    margin-bottom: 50px;
    padding: 20px 40px;
    width: 70%;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(214, 227, 255, 0.8);
    border: 2px solid #d6e3ff;
    margin-left: auto;
    margin-right: auto;
}

.images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    height: 400px;
}

.image_frame {
    width: 45%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(214, 227, 255, 0.8);
}

.continue-btn {
    font-size: 16px;
    color: #ffffff;
    background-color: #8aaeff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.continue-btn:hover {
    background-color: #6f93d2;
}
.button-container {
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;
  }
  