{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-xl d-flex flex-wrap mb-4 mt-4">
        <a class="navbar-brand fw-bold fs-2 me-5" href="{{url_for('home_view.index')}}">
            <img src="../../static/images/metaview-logo.svg" alt="logo" width="110" height="55" class="d-inline-block align-text-top">
            MetaView
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-5 fw-bold">
                <li class="nav-item me-3">
                    <a class="nav-link" href="{{url_for('frontend_redesign_router.teacher_dashboard')}}">學生列表</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0 fs-5 fw-bold">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">你好，{{ current_user.username }} 老師</a>
                    <ul class="dropdown-menu" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item" href="#">修改個人資訊</a></li>
                    </ul>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link" href="{{url_for('authentication_view.logout')}}">登出</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock navbar %}