{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Interviewer Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <script>
        function showLoginForm() {
            document.querySelector('.login-container').innerHTML = `
                <div class="login-form-container">
                    <h2>AI Interviewer</h2>
                    <div class="toggle-buttons">
                        <button class="toggle-button active" onclick="showLoginForm()">login</button>
                        <button class="toggle-button" onclick="showRegisterForm()">register</button>
                    </div>
                    <form method="POST" action="/login">
                        <div class="form-group">
                            {{ wtf.form_field(form.email) }}
                        </div>
                        <div class="form-group">
                            {{ wtf.form_field(form.password) }}
                        </div>
                        <div>
                            {{ wtf.form_field(form.remember_me) }}
                        </div>
                        <div class="form-navigation">
                            <button type="button" class="nav-button back-button" onclick="resetLoginContainer()">back</button>
                            {{ wtf.form_field(form.submit, class="nav-button continue-button") }}
                        </div>
                    </form>
                </div>
            `;
        }

        function showRegisterForm() {
            document.querySelector('.login-container').innerHTML = `
                <div class="register-form-container">
                    <h2>AI Interviewer</h2>
                    <div class="toggle-buttons">
                        <button class="toggle-button" onclick="showLoginForm()">login</button>
                        <button class="toggle-button active" onclick="showRegisterForm()">register</button>
                    </div>
                    <form method="POST" action="/register">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" id="name" name="name"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="student_id">Sudent ID</label>
                            <input type="text" id="student_id" name="student_id"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="class">Class</label>
                            <input type="text" id="class" name="class" " class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="seat_number">Seat number</label>
                            <input type="text" id="seat_number" name="seat_number"  class="form-control">
                        </div>
                        <div class="form-navigation">
                            <button type="button" class="nav-button back-button" onclick="resetLoginContainer()">back</button>
                            <button type="submit" class="nav-button continue-button">register</button>
                        </div>
                    </form>
                </div>
            `;
        }

        function resetLoginContainer() {
            document.querySelector('.login-container').innerHTML = `
                <h2>AI Interviewer</h2>
                <p>choose identiy to login</p>
                <div class="role-selection">
                    <button class="role-button" onclick="showLoginForm('admin')">admin</button>
                    <button class="role-button" onclick="showLoginForm('teacher')">teacher</button>
                    <button class="role-button" onclick="showLoginForm('student')">student</button>
                </div>
            `;
        }
    </script>
</head>

<body>
    <div class="container">
        <div class="image-container">
            <img src="../static/images/bg_coffee.jpeg" alt="Background Image" class="bg-image">
        </div>
        <div class="login-container">
            <h2>AI Interviewer</h2>
            <p>choose identiy to login</p>
            <div class="role-selection">
                <button class="role-button" onclick="showLoginForm('admin')">admin</button>
                <button class="role-button" onclick="showLoginForm('teacher')">teacher</button>
                <button class="role-button" onclick="showLoginForm('student')">student</button>
            </div>
        </div>
    </div>
</body>

</html>